absl-py
aiofiles
annotated-doc
annotated-types
anyio
asgiref
astunparse
backend
certifi
charset-normalizer
click
colorama
contourpy
cycler
Django
dnspython
email-validator
fastapi
flatbuffers
flet
flet-desktop
fonttools
gast
google-pasta
greenlet
grpcio
h11
h5py
httpcore
httptools
httpx
idna
joblib

kiwisolver
libclang
markdown-it-py
matplotlib
mdurl
ml_dtypes
msgpack
namex
numpy
oauthlib
opt_einsum
optree
packaging
pandas
pillow
protobuf
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
python-multipart
PyYAML
repath
requests
rich
scikit-learn
scipy
seaborn
six
SQLAlchemy
sqlparse
starlette
ai-edge-litert
termcolor
threadpoolctl
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
watchfiles
websockets
wrapt